      	<div class="row section section--timeline-head">
      		<div class="container">
		        <h4 class="heading text-center m-b-2 col-xs-12">Latest from us</h4>
	       	</div>
	    </div>
	    <div class="row section section--timeline transparent">
	    	<div class="container">
	    		<div class="container__inner">
					<div class="timeline-container">
					</div>
				</div>
			</div>
	    </div>
      	<div class="row section section--footer transparent">
      		<div class="container">
  				<div class="footer__interested col-sm-12">
  					<h4>
						<span class="text">Interested to work with us? </span>
						<button class="btn btn--orange animate--arrow-right hover--swipe-left">
							GET IN TOUCH
	            <span class="arrow"></span>
						</button>
					</h4>
  				</div>
	      		<div class="footer__nav col-sm-12 border-t-blue clearfix">
					<ul class="list-group list-inline pull-left list-group--flush ">
					   <li class="list-group-item">&copy; 2017 Dream Akasa</li>
					   <li class="list-group-item">+62 8761 12121 <span>/</span> <a href="http://localhost:9001/contact.html">Contact Us</a></li>
					</ul>
					<ul class="list-group list-inline pull-right list-group--flush">
					   <li class="list-group-item"><a target="blank" href="https://www.facebook.com/dreamakasa"><i class="fa fa-facebook-official"></i></a></li>
					   <li class="list-group-item"><a target="blank" href="https://twitter.com/dreamakasa"><i class="fa fa-twitter"></i></a></li>
					   <li class="list-group-item"><a target="blank" href="https://www.instagram.com/dreamakasa/"><i class="fa fa-instagram"></i></a></li>
					   <li class="list-group-item"><a target="blank" href="https://www.linkedin.com/company/13219551/"><i class="fa fa-linkedin-square"></i></a></li>
					   <li class="list-group-item"><a target="blank" href="https://github.com/dreamakasa"><i class="fa fa-github-alt"></i></a></li>
					   <li class="list-group-item"><a target="blank" href="https://dribbble.com/dreamakasa"><i class="fa fa-dribbble"></i></a></li>
					</ul>
				</div>
	      	</div>
      	</div>
