{% extends "nunjucks/coming-soon.njk" %}
    {% block content %}

    <div class="wrapper wrapper--stand container--blue">
		<nav class="navbar navbar--stand">
	   		<div class="container-fluid text-center">
	            <div class=" navbar-logo">
	                <a href="/"> 
	                    <img src="images/logo.svg" alt="Dream Akasa">
	                </a>
	            </div>
	   		</div>
	   	</nav>
	    <div class="container-fluid gutter--top">
	      	<div class="container text-center">
	      		<div class="row section section--jumbo ">
		      		<div class="col-md-8 col-md-offset-2">	
				        <h1 class="heading">Always work in progress</h1>
				        <h6 class="text m-b-2">
				        	We help companies to build applications, products, and services from design to development with solution-by-design and human-centered approach.
				        </h6>
				        <a href="mailto:contact@dreamakasa.com" class="btn btn--orange">
				        	GET IN TOUCH
				        	<img src="images/arrow.png" alt="arrow" class="m-l-1">
				        </a>
			        </div>
		        </div>
		    </div>
		</div>
	</div>
	{% endblock %}

