
{% set page = "index" %} 

{% extends "nunjucks/default.njk" %}
    {% block content %}
    {% include "nunjucks/partials/navbar.njk" %}

	    <div class="container-fluid main-container" id="index-page">
	      	<div class="row section section--banner transparent p-b-0">
	      		<div class="container text-center">
		      		<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
				        <h1 class="heading">May we help you?</h1>
				        <h6 class="text m-b-2">
				        	We help companies to build applications, products, and services from design to development with solution-by-design and human-centered approach.
				        </h6>
				        <a href="#" class="btn btn--orange animate--arrow-right hover--swipe-left">
				        	GET IN TOUCH
	               			<span class="arrow"></span>
				        </a>
			        </div>
			    </div>
	    	</div>
	    	<div class="row section transparent">
	    		<div class="container">
		        	<div class="col-xs-12">
				        <a href="" class="hunk hunk--small hunk--left">
				        	<div class="hunk__inner">
					        	<img src="images/aslan.png" class="hunk__img" alt="Application Aslan">
				    			<div class="hunk__label">
				    				<p class="sub">Application</p>
				    				<p class="content">Aslan</p>
				    			</div>
			    			</div>
				        </a>
				        <a href="" class="hunk hunk--medium hunk--v-strecth-2 pull-right">
				        	<div class="hunk__inner">
					        	<img src="images/labanfarma.png" class="hunk__img" alt="Project Laban Farma">
				    			<div class="hunk__label">
				    				<p class="sub">Project</p>
				    				<p class="content">Laban Farma</p>
				    			</div>
				    		</div>
				        </a>
				        <a href="" class="hunk hunk--small">
				        	<div class="hunk__inner">
					        	<img src="images/nawarin.png" class="hunk__img" alt="Project Nawar.in">
				    			<div class="hunk__label">
				    				<p class="sub">Project</p>
				    				<p class="content">Nawar.in</p>
				    			</div>
				    		</div>
				        </a>
			        </div>
		    	</div>
		    </div>
	    	<div class="row section section--services text-center border-b-grey">
		    	<div class="container">
		      		<div class="col-sm-10 col-sm-offset-1">
				        <h4 class="heading">Services</h4>
				        <h6 class="text m-b-2">
				        	Deliver great services is our main priority. User experience is our resource and design is our way to build user-centered products
				        </h6>
			        </div>
			        <div class="clearfix"></div>
			        <div class=" col-sm-12 m-t-2 m-b-2">
				        <div class="col-sm-6 col-md-3 text-center m-b-2 items">
							<div class="item__img-wrapper circle">
						   		<img src="images/web.svg" class="img-responsive center-block" alt="Web Development">
						  	</div>
						  	<div class="item__text">
						   		Web Development
						  	</div>
						</div>
						<div class="col-sm-6 col-md-3 text-center m-b-2 items">
							<div class="item__img-wrapper circle">
						   		<img src="images/mobile.svg" class="img-responsive" alt="Mobile Application Development">
						  	</div>
						  	<div class="item__text">
						   		Mobile Application Development
						  	</div>
						</div>
						<div class="col-sm-6 col-md-3 text-center m-b-2 items">
							<div class="item__img-wrapper circle">
						   		<img src="images/product.svg" class="img-responsive" alt="Product Design">
						  	</div>
						  	<div class="item__text">
						   		Product Design
						  	</div>
						</div>
						<div class="col-sm-6 col-md-3 text-center m-b-2 items">
							<div class="item__img-wrapper circle">
						   		<img src="images/workshop.svg" class="img-responsive" alt="Workshop & Seminar">
						  	</div>
						  	<div class="item__text">
						   		Workshop & Seminar
						  	</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-xs-12 technologies m-t-1">
						<h5 class="heading">Technologies and tools that we use to build great products</h5>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Sketch">
							<img src="images/sketch.png" alt="Sketch">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Adobe Photoshop">
							<img src="images/ps.png" alt="Adobe Photoshop">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Adobe Ilustrator">
							<img src="images/ai.png" alt="Adobe Ilustrator" >
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Android Studio">
							<img src="images/android-studio.png" alt="Android Studio">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Laravel">
							<img src="images/laravel.png" alt="Laravel">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Vue.js">
							<img src="images/vuejs.png" alt="Vue.js">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="React.js">
							<img src="images/react.png" alt="React.js">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Zeplin">
							<img src="images/zeplin.png" alt="Zeplin">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Node JS">
							<img src="images/nodejs.png" alt="Node JS">
						</a>
						<a href="#" data-toggle="tooltip" data-placement="top" title="Docker">
							<img src="images/docker.png" alt="Docker">
						</a>
					</div>
		    	</div>
		    </div>
	    	<div class="row section section--quotes text-center border-b-grey" id="indexQuotes">
	    		<div class="container">
		      		<div class="col-sm-12">
				        <blockquote>
				        	Quote
				        </blockquote>
				        <p class="profil">
					        <img src="images/default-avatar.png" alt="image">
				        	Name
				        </p>
			        </div>
		        </div>
	    	</div>

	    {%- include "nunjucks/partials/footer.njk" %}

	    </div> <!-- /.main-container -->

	{% endblock %}
