{% extends "nunjucks/default.njk" %}
    {% block content %}
	
    <div class="container">
    	<div class="row">
    		<div class="col-xs-12">
    			<h1>Here I'm an H1 element</h1>
    			<h2>Here I'm an H1 element</h2>
    			<h3>Here I'm an H1 element</h3>
    			<h4>Here I'm an H1 element</h4>
    			<h5>Here I'm an H1 element</h5>
    			<h6>Here I'm an H1 element</h6>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    		</div>
    	</div>
      <div class="row">   
          <div class="col-sm-12">
              <div id="carousel-example-generic" class="carousel carousel--text slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <!-- <img src="images/gif1.gif" alt="..."> -->
                    <div class="carousel-caption">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </div>
                  </div>
                  <div class="item">
                    <!-- <img src="images/gif2.gif" alt="..."> -->
                    <div class="carousel-caption">
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 panel panel-default panel--form">
          <div class="panel-body">
            <form>
              <div class="form-group">
                <label for="name">
                  Name
                  <span class="label__sub">What should we call you</span>
                </label>
                <input type="text" class="form-control" id="name" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Check me out
                </label>
              </div>
              <div class="form-group">
                <textarea class="form-control">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad finem
                </textarea>
              </div>
              <button type="submit" class="btn btn-default btn-block btn--orange animate--arrow-right">
                SUBMIT
                <span class="arrow pull-right"></span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
	{% endblock %}

